.bg-theme{
    background-color: rgb(100, 202, 143) ;
}

.experience-header
{
    display:flex;  
    align-items : center;
    gap:30px;
    flex-wrap:wrap;
    flex-grow:1;  

}


@media all and (min-width:500px)
{
  .work-period-sm
  {
    margin-left:auto;
  }

}

@font-face {
    font-family: tesla;
    src: url(TESLA.ttf);
  }
  .teslaclass {
    font-family: tesla;
  }